@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frijole|Pacifico&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    color:black;
    height: 22vh;
    text-align: center;
    background:whitesmoke;
    border-radius: 10px;
}
h1{
    
    transform: translateY(80%);
    font-family: 'Pacifico', cursive;
    width: 40%;
}
.mente{

    color: yellowgreen;;
    font-family: 'Frijole', cursive;

}
#conte{
    border-radius: 10px;
    background:greenyellow;
    height: 92vh;
    width: 79vw;
    margin: 0px 5px;
    float: left;
    margin-top: 10px;
}
.parrafo1{
   
    height: 25vh;
    width: 40vw;
    color: white;
    margin: 10px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  
    float: left;
}
.parrafo2{
    
    height: 28vh;
    width: 35vw;
    color: white;
    margin: 8px;
    font-size: 15px;
    text-align: center;
  
    float: left;
}
.parrafo3{

    width:17vw;
    height: 60vh;
    color: white;
    float: left;
    margin: 8px;
    
    text-align: center;
}
img{
    width: 58vw;
    height: 60vh;
   
    text-align: center;
}
h3{
    font-size: 30px;
}
aside{
    width: 18vw;
    height: 100vh;
 
    float: left;
}
.pub1{
    margin-top: 10px;
    margin-bottom: 10px;
background:greenyellow;
height: 15vh;
text-align: center;
float: left;
border-radius: 10px;

}
.pub{

    background:rgb(230, 228, 228);
    height: 50vh;
    text-align: center;
    float: left;
    border-radius: 10px;
}
p{
    color: white;
    margin-top: 10px;
}