body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  margin-top: 30px;
}
.contenedor{
    
  width: 80vw;
  height: 90vh;
  margin:auto;
  display: flex;
  background:black;
}
.pelota{
    background:orangered;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    display: flex;
    animation: slide 3s linear infinite alternate;
    transform: translate(0px,490px);
}
@keyframes slide{
  
    10%{ background-color: darkviolet; margin-right: 0%;}
    10%{margin-right: 0%;}
    20%{ background-color: forestgreen; margin-top:-40%;}
    20%{margin-left: 7%;}
    30%{ background-color: white; margin-top: -0%;}
    30%{ background-color: brown; margin-left: 15%;}
    40%{background-color: rgb(21, 201, 21); margin-top: -30%;}
    40%{background-color: rgb(69, 228, 55);margin-left: 25%;}
    50%{background-color: rgb(70, 24, 34);margin-top: -0%;}
    50%{margin-left: 40%;}
    60%{background-color: rgb(243, 112, 112);margin-top: -20%;}
    60%{margin-left: 50%;}
    70%{background-color: rgb(48, 207, 194);margin-top: -0%;}
    70%{margin-left: 60%;}
    80%{background-color: rgb(194, 158, 39);margin-top: -10%;}
    80%{margin-left: 70%;}
    90%{background-color: rgb(34, 152, 156);margin-top: -0%;}
    90%{margin-left: 78%;}
    95%{background-color: rgb(56, 80, 161);margin-top: -0;}
    95%{margin-left: 83%;}
    100%{background-color: rgb(60, 206, 47);margin-top: -0%;}
    100%{margin-left: 89%;}
   


    // 40%{margin-top: 20%;}
    // 40%{margin-left: 40%;}
    // 50%{margin-top: 0%;}
    // 50%{margin-left: 50%;}
    // 60%{margin-top: 10%;}
    // 60%{margin-left: 60%;}
    // 70%{margin-top: 0%;}
    // 70%{margin-left: 70%;}

   
   
 

    
  
 


   

    //  30%{margin-top: -45%;}
    // 30%{margin-left: 20%;}
    // 50%{margin-top: -35%;}
    // 60%{margin-top: 0%;}
    // 70%{margin-left: 25%;}
    // 80%{margin-left: 0%;}
    // 70%{margin-top: -15%;}
    // 80%{margin-left: 0%;}

  
 



    // 75%{margin-left: 75%;}
    // 80%{margin-left: 80%;}
    // 85%{margin-left: 85%;}
    // 90%{margin-left: 90%;}
    // 95%{margin-left: 95%;}
    // 100%{margin-left: 100%;}
  
}