body{
    margin: 0;
    padding: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    // background: green;
    position: relative;
    text-transform: uppercase;
    font-family: cosola;
    letter-spacing: 0.1m;
    font-size: 10em;
    text-align: center;
}
h1::before{
content: attr(data-text);
position: absolute;
width:0%;
height: 100%;
top: 0;
left: 0;
border-right: 10px solid #e9e8e8;
background: linear-gradient(to right,#f00, #ff0, #0ff, #0f0, #ffc800);
-webkit-background-clip:text;
color: transparent;
animation: type 4s steps(2) forwards infinite;

}
@keyframes type{
    0%{width: 0%;}
    11%{width: 10%;}
    22%{width: 24%; }
    33%{width: 35%; }
    44%{width: 45%; }
    55%{width: 55%; }
    66%{width: 65%; }
    77%{width: 77%; }
    88%{width: 90%; }
    95%{width: 100%;}
    100%{width: 100%; }



}